<html lang="tr">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="<%= opp.isim %> <%= opp.tur %> iletişim bilgileri.">
  <meta name="keywords" content="iletişim, eposta, adres, harita, gsm, telefon, sosyalağlar, sosyalmedya, medya, irtibat, irtibatno, facebook, twiter, intagram, google, letgo, linkedin, e-posta, e-mail, email, mail, posta">
  <meta name="author" content="usta">
  <title>İletişim - <%= opp.isim %></title>
  <link rel="icon" href="/<%= opp.log %>">
  <link rel="stylesheet" href="/contact.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

</head>
<body style="background-color: <%= opp.bod %>;">
<div id="ustpanel" style="background-color: <%= opp.pane %>;">
<div id="arka">
 <a href="/"><img id="logo" src="/<%= opp.log %>"></a>
</div>

 <a href="/"><h1 id="site" style="color: <%= opp.syr %>;"><%= opp.isim %></h1></a>
 <a href="/"><h2 id="slogan" style="color: <%= opp.ssr %>;"><%= opp.tur %></h2></a>

<div id="panel">

<div class="dropdown" id="sayfa">
<input type="submit" class="dropbtn" onclick="return myFunction();" style="background-image: url(/sayfa.png);" value="">
  <div id="myDropdown" class="dropdown-content">
    <a href="/">Anasayfa</a>
    <a href="/about">Hakkında</a>
    <a href="/stok">Tüm <%= app.adlar %></a>
  </div>
</div>

<div id="sol">
 <a href = "/"><h3 style="color: <%= opp.pyr %>;">Anasayfa</h3></a>
 <a href = "/about"><h3 style="color: <%= opp.pyr %>;">Hakkında</h3></a>
 <a href = "/stok"><h3 style="color: <%= opp.pyr %>;">Tüm <%= app.adlar %></h3></a>
</div>

<div class="dropdown" id="hesap">
 <% if (oturum != null ) { %>
<input type="submit" class="dropbtn2" onclick="return myFunction2();" style="background-image: url(/hesapp.png);" value="">
 <% } else {%>
<input type="submit" class="dropbtn2" onclick="return myFunction2();" style="background-image: url(/hesap.png);" value="">
 <% } %>
  <div id="myDropdown2" class="dropdown-content2"> <% if (oturum != null ) { %>
   <a href = "/settings"><h3>Ayarlar</h3></a>
  <a href = "/logout"><h3>Çıkış Yap</h3></a>
 <% } else {%>
  <a href = "/login"><h3>Giriş Yap</h3></a>
  <a href = "/hesap"><h3>Kayıt Ol</h3></a>
 <% } %>
  </div>
</div>
<div id="sag">
 <% if (oturum != null ) { %>
   <a href = "/settings"><h3 style="color: <%= opp.pyr %>;">Ayarlar</h3></a>
  <a href = "/logout"><h3 style="color: <%= opp.pyr %>;">Çıkış Yap</h3></a>
 <% } else {%>
  <a href = "/login"><h3 style="color: <%= opp.pyr %>;">Giriş Yap</h3></a>
  <a href = "/hesap"><h3 style="color: <%= opp.pyr %>;">Kayıt Ol</h3></a>
 <% } %>
</div>
</div>
</div>
<div id="sayf">
  <h1 style="color: <%= opp.titl %>;">İletişim</h1>
  
  <div  id="adform">
  	<h2>Bize Mesajınızı İletebilirsiniz <img src="/mesaj.png" height="30" id="zar"></h2>
  	<form action = "/contact/messaj" method = "POST">
      <input type="password" name="site" id="site" value="<%= contacts.posta %>"  style="display:none;">
  		<input type="text" name="isim" id="isim" placeholder="ad ve soyadınızı yazın.." maxlength="30" required autofocus><br>
  		<input type="text" name="eposta" id="eposta" placeholder="e-mail veya telefon numaranızı yazın.." maxlength="50" required><br>
  		<textarea id="mesaj" name="mesaj" placeholder="mesajınızı yazın.." maxlength="500" required></textarea><br>
  		<input id="but" type="submit" value="Gönder" style="color: <%= opp.byr %>; background-color: <%= opp.buton %>;">
  	</form>
  </div>

 <% if (contacts.gsm != "" && contacts.gsm != null) { %>
  <div id="pan">
  <a href="tel:+9<%= contacts.gsm %>"><h2><img src="/tel.png" height="30" id="zar"> Gsm</h2></a><a href="tel:+9<%= contacts.gsm %>"><h4 style="color: <%= opp.deta %>;"><%= contacts.gsm %></h4></a>
  </div>
 <% } %>

 <% if (contacts.posta != "" && contacts.posta != null) { %>
  <div id="pan">
  	<h2><img src="/mail.png" height="30" id="zar"> E-posta</h2><h4 style="color: <%= opp.deta %>;"><%= contacts.posta %></h4>
  </div>
 <% } %>

 <% if (contacts.face != "" && contacts.face != null) { %>
  <div id="pan">
  <a href="<%= contacts.face %>"><h2><img src="/face.png" height="30" id="zar"> Facebook</h2></a><a href="<%= contacts.face %>"><h4 style="color: <%= opp.deta %>;"><%= contacts.face %></h4></a>
  </div>
 <% } %>

 <% if (contacts.twit != "" && contacts.twit != null) { %>
  <div id="pan">
  <a href="<%= contacts.twit %>"><h2><img src="/twit.png" height="30" id="zar"> Twitter</h2></a><a href="<%= contacts.twit %>"><h4 style="color: <%= opp.deta %>;"><%= contacts.twit %></h4></a>
  </div>
 <% } %>

 <% if (contacts.ins != "" && contacts.ins != null) { %>
  <div id="pan">
  <a href="<%= contacts.ins %>"><h2><img src="/instag.png" height="30" id="zar"> İnstagram</h2></a><a href="<%= contacts.ins %>"><h4 style="color: <%= opp.deta %>;"><%= contacts.ins %></h4></a>
  </div>
 <% } %>

 <% if (contacts.letgo != "" && contacts.letgo != null) { %>
  <div id="pan">
  <a href="<%= contacts.letgo %>"><h2><img src="/letgo.png" height="30" id="zar"> Letgo</h2></a><a href="<%= contacts.letgo %>"><h4 style="color: <%= opp.deta %>;"><%= contacts.letgo %></h4></a>
  </div>
 <% } %>

 <% if (contacts.linked != "" && contacts.linked != null) { %>
  <div id="pan">
  <a href="<%= contacts.linked %>"><h2><img src="/linked.png" height="30" id="zar"> Linkedin</h2></a><a href="<%= contacts.linked %>"><h4 style="color: <%= opp.deta %>;"><%= contacts.linked %></h4></a>
  </div>
 <% } %>

 <% if (contacts.youtube != "" && contacts.youtube != null) { %>
  <div id="pan">
  <a href="<%= contacts.youtube %>"><h2><img src="/youtube.png" height="30" id="zar"> Youtube</h2></a><a href="<%= contacts.youtube %>"><h4 style="color: <%= opp.deta %>;"><%= contacts.youtube %></h4></a>
  </div>
 <% } %>

 <% if (contacts.twitch != "" && contacts.twitch != null) { %>
  <div id="pan">
  <a href="<%= contacts.twitch %>"><h2><img src="/twitch.png" height="30" id="zar"> Twitch</h2></a><a href="<%= contacts.twitch %>"><h4 style="color: <%= opp.deta %>;"><%= contacts.twitch %></h4></a>
  </div>
 <% } %>

 <% if (contacts.adres != "" && contacts.adres != null) { %>
  <div id="pan">
  	<h2><img src="/adres.png" height="30" id="zar"> Adres</h2><h4 style="color: <%= opp.deta %>;"><%= contacts.adres %></h4>
  </div>
 <% } %>

 <% if (contacts.harita != "" && contacts.harita != null) { %>
<div id="harita">
<iframe src="<%= contacts.harita %>" width="600" height="450" frameborder="0" style="border:5px <%= opp.deta %> dotted; border-radius: 15px;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>
 <% } %>

</div>

<div id="altpanel" style="background-color: <%= opp.ap %>;">
  <a href="/contact"><h4 style="color: <%= opp.apy %>;">↑ <%= opp.ay %> © Tüm Hakları Saklıdır.</h4></a>
</div>
<script>

function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}
function myFunction2() {
  document.getElementById("myDropdown2").classList.toggle("show2");
}
</script>
</body>
</html>